niteCTF/Warmup.md
STP_2/Forensics/BITSCTF/mogambro/memdump.mem
STP_2/Forensics/BlackHat'23/memdump.mem
STP_2/Forensics/summer/
STP_2/Forensics/BITSCTF/decrypted.txt
STP_2/Forensics/BITSCTF/mogambro/artifacts.ad1